.app {
  display: flex;
  flex-direction: column;
  width: 100dvw;
  height: 100dvh;
}

/* Header ocupa lo que tú decidas */
.header-position {
  flex: 0 0 7em; 
}

/* Contenedor intermedio */
.body {
  flex: 1;
  display: flex;
  align-items: center;
}

.sidebar-position {
  flex: 0 0 14em;
  display: flex;     
}

/* Main ocupa el resto */
.main-box-position {
  flex: 1;
  display: flex;
}