.sidebar {
    border-right: 1px solid rgb(225, 226, 228);
    border-top: 1px solid rgb(225, 226, 228);
    border-bottom: 1px solid rgb(225, 226, 228);
    background-color: var(--ghost-white);
    height: 80%;
    /* max-height: 600px; */
    border-radius: 0 12px 12px 0;
}