:root {
  --alabaster: #f2f0eb;
  --ghost-white: #f8f8fa;
  --sea-shell: #f1f1f1;
  --lavender-mist: #f4f1f8;
  --cultured-grey: #f5f5f5;
}

body {
  margin: 0;
  padding: 0;
  background-image: radial-gradient(#f0f0f0 2px, transparent 2px);
  background-size: 48px 48px;
  background-color: #ffffff;
}